// 字体尺寸
// ---
$font-size-base: 28px;
$font-size-heading: 34px;
$font-size-caption: 32px;
$font-size-icontext: 20px;
$font-size-display-sm: 36px;
$font-size-display-md: 42px;

// 字体家族
// --
$font-family-base: 'Source Sans Pro', 'Helvetica Neue', "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
$font-family-code: 'Roboto Mono', Monaco, courier, monospace;