// 水平间距
// ---
$spacing-h-sm: 10px;
$spacing-h-md: 16px;
$spacing-h-lg: 30px;

// 垂直距离
// ---
$spacing-v-xs: 6px;
$spacing-v-sm: 12px;
$spacing-v-md: 18px;
$spacing-v-lg: 30px;
$spacing-v-xl: 42px;

// 高度
// ---
$height-option: 84px;
$line-height-base: 1;
$line-height-paragraph: 1.5;